- link_project = local_assigns.fetch(:link_project, false)
- notes_count = @noteable_meta_data[snippet.id].user_notes_count

%li.snippet-row
  = image_tag avatar_icon_for_user(snippet.author), class: "avatar s40 d-none d-sm-block", alt: ''

  .title
    = link_to reliable_snippet_path(snippet) do
      = snippet.title
    - if snippet.file_name
      %span.snippet-filename.monospace.d-none.d-sm-inline-block
        = snippet.file_name

    %ul.controls
      %li
        = link_to reliable_snippet_path(snippet, anchor: 'notes'), class: ('no-comments' if notes_count.zero?) do
          = icon('comments')
          = notes_count
      %li
        %span.sr-only
          = visibility_level_label(snippet.visibility_level)
        = visibility_level_icon(snippet.visibility_level, fw: false)

  .snippet-info
    #{snippet.to_reference} &middot;
    由
    = link_to user_snippets_path(snippet.author), class: "js-user-link", data: { user_id: snippet.author.id } do
      = snippet.author_name
    在 #{time_ago_with_tooltip(snippet.created_at, placement: 'bottom', html_class: 'snippet-created-ago')} 编写
    - if link_project && snippet.project_id?
      %span.d-none.d-sm-inline-block
        位于
        = link_to project_path(snippet.project) do
          = snippet.project.full_name

    .float-right.snippet-updated-at
      %span 更新于 #{time_ago_with_tooltip(snippet.updated_at, placement: 'bottom')}
